    body {
        cursor: auto;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        background-color: lavenderblush;
    }
    
    main {
        height: 130vh;
    }
    
    h2 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: midnightblue;
        margin-top: 100px;
        background-color: thistle;
    }
    
    .grade {
        height: 10vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .tele {
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        border: solid 2px thistle;
        border-radius: 5px;
        padding: 10px;
    }
    
    .mailing {
        margin-right: 10px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding: 10px;
        border: solid 2px thistle;
        border-radius: 5px;
    }
    /*formulário*/
    
    form {
        font-family: 'Roboto', sans-serif;
        padding: 50px;
        background-color: thistle;
        border-radius: 10px;
    }
    /*#botao {
        border: 0px;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: mediumvioletred;
        box-shadow: 0 4px 8px 0 rgba(129, 53, 216, 0.2);
    }*/