body {
    background-color: lavenderblush;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: midnightblue;
    margin-top: 100px;
    background-color: thistle;
}

.menuCategorias {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 100px;
    float: left;
}

.menuProdutos {
    height: 200vh;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#category {
    margin-left: -60px;
    text-align: left;
    font-size: 20px;
    background-color: thistle;
    border-radius: 5px;
    font-family: "Arial black";
    text-decoration: none;
}

li.listaProduto {
    margin-left: -55px;
    margin-right: 10px;
    cursor: default;
    background-color: lavender;
    list-style-type: none;
    font-family: "Calibri";
    font-weight: 100;
    font-size: 12pt;
    text-align: left;
}

.estiloNome {
    font-family: "Arial";
    font-weight: bold;
}

.estiloPrecoVelho {
    font-family: "Arial";
    text-decoration: line-through;
}

.estiloPrecoNovo {
    font-family: "Arial";
    font-weight: bolder;
    font-size: 14pt;
    color: darkblue;
}

img.Prods {
    align-self: center;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.box_produtos {
    padding: 10px;
}